body { 
  overflow: hidden; /*removes scrollbars*/
  background: #2F3437;
  margin-top: 0px; 
  margin-right: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px;
}
form {
  margin-bottom: 0px;
}
#plot_div {
  position: absolute;
  top: 7px; 
  left: 10%; 
  z-index: 10;
}
#cp_input {
  vertical-align: middle; 
  background-color: #2F3437;
  border: 0px;
}
.plot_button {
  vertical-align: middle; 
  padding-top: 0px;  
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
  font-family : Segoe UI; 
  background-color: #53575a;
  color: #ffffff;
  font-size: 9px;
}
.btn:hover {
  color: #ffffff;
  background-color: #53575a;
  filter: invert(100%);
}
.ndrag, .sdrag, .edrag, .wdrag, .nsdrag, .ewdrag {
  fill: #2F3437;
  filter: invert(100%);
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}
.nsewdrag, .nwdrag, .nedrag, .sedrag, .swdrag {
  opacity : 0;
}
.ndrag:hover, .sdrag:hover, .edrag:hover, .wdrag:hover, .nsdrag:hover, .ewdrag:hover {
  opacity: 0.5;
}
